@import 'tailwindcss';

:root {
  line-height: 1.6;
}

.prose {
  /* prettier-ignore */
  h1, h2, h3, h4, h5, h6 {
    font-family: serif;
  }

  p {
    font-family: sans-serif;
  }

  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-2xl);
  }

  h3 {
    font-size: var(--text-xl);
  }

  h4,
  h5,
  h6 {
    font-size: var(--text-lg);
  }
}
